
@{
    ViewBag.Title = "Add";
}


    <h2>Add Teacher</h2>
    <form method="POST" action="/Teacher/Create">
        <div class="inputrow">
            <label for="TeacherFname">First Name:</label>
            <input type="text" id="TeacherFname" name="TeacherFname" required autofocus/>

        </div>

        <div class="inputrow">
            <label for="TeacherLname">Last Name:</label>
            <input type="text" id="TeacherLname" name="TeacherLname" required autofocus/>

        </div>

        <div class="inputrow">
            <label for="employeenumber">EmployeeNumber:</label>
            <input type="text" id="employeenumber" name="employeenumber" required autofocus/>

        </div>
        <div class="inputrow">
            <input type="submit" value="Create Teacher" />
        </div>
    </form>